.section-title {
    padding-top: 63px;
    padding-bottom: 55px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;

    >h2 {
        font-size: 30px;
        color: #000000;
    }

    >p {
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        color: #aeaeae;
    }

}