.header {
    position: relative;
    min-height: 100vh;
    background-image: url(../img/header-bgi-1025-539.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}